body {
  margin: 0;
  min-height: 100vh;
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important;
  @apply overflow-y-hidden;
}

#app {
  @apply h-screen w-full;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply justify-center items-center;
}
